@page "/complaints/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Complaint</h3>
<hr />
<br />
<FormComponent ButtonText="Create Complaint" complaint="complaint" OnValidSubmit="@CreateComplaint" />


@code { Complaint complaint = new Complaint();

    private async Task CreateComplaint()
    {
        await _client.PostAsJsonAsync(Endpoints.ComplaintsEndpoint, complaint);
        _navManager.NavigateTo("/complaints/");
    } }