@page "/complaints/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager



<h3>Edit Complaint</h3>



<FormComponent ButtonText="Update" OnValidSubmit="EditComplaint" complaint="complaint" />



@code {
    [Parameter] public int id { get; set; }
    Complaint complaint = new Complaint();



    protected async override Task OnParametersSetAsync()
    {
        complaint = await _client.GetFromJsonAsync<Complaint>($"{Endpoints.ComplaintsEndpoint}/{id}");
    }



    async Task EditComplaint()
    {
        await _client.PutAsJsonAsync($"{Endpoints.ComplaintsEndpoint}/{id}", complaint);
        _navManager.NavigateTo("/complaints/");
    } }