@page "/conversations/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View</h3>

<FormComponent conversation="conversation" Disabled="true" />

@code { [Parameter] public int id { get; set; }
    Conversation conversation = new Conversation();

    protected async override Task OnParametersSetAsync()
    {
        conversation = await _client.GetFromJsonAsync<Conversation>($"{Endpoints.ConversationsEndpoint}/{id}");
    } }
